/* General styles */
body {
    background-color: pink; /* Set background color */
    color: black; /* Set font color */
    font-family: Arial;
    margin: 0;
    padding: 20px;
}

/* Centering image */
img {
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}


h1 {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Paragraph and preformatted text styles */
p, pre {
    text-align: left;
    font-size: 18px;
}

/* Socials styling */
a {
    text-decoration: none;
    font-weight: bold;
    color: darkgreen;
    display: inline-block;
    margin: 5px 0;
}

a:hover {
    color: white;
    background-color: green;
    padding: 5px;
    border-radius: 5px;
}

/* Icons styling */
a img {
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 5px;
}
